### Strings and Character Data in Python

String are objects that contain sequences of character data. Processing character data is integral to programming. Python provides a rich set of operators, functions, and methods for working with strings. In this module, we'll discuss the below topics.

1. Using operators with strings
2. Accessing and extracting portions of strings
3. Use built-in Python functions with characters and strings
4. Use methods to manipulate and modify string data

#### String Manipulation
1. String Operators
2. Built-In String Functions
    * Case Conversion (upper, lower, title, capitalize)
    * Find and Replace (find, index) 
    * dir and __doc__
3. String Indexing & Slicing
    * name[1]

### Working with python list
List is Python’s most versatile, useful data types. You’ll find list in virtually every Python program. we'll cover the important characteristics of lists and we’ll learn how to define them and how to manipulate them.

1. Lists Overview
2. Indexing and Slicing
3. Nesting
4. List Methods
    * Inserting item to a given position
    * Appending value to a list
    * Removing elements from a list
    * Extending a list and merging with other list
    * Counting instances of an elements in a list
    * index - Finding index of something in the list
    * Sorting a list
    * Reversing a list
    
### Working with dictionary in python
We’ll cover the basic characteristics of Python dictionaries and learn how to access and manage dictionary data. O
1. Dictionaries and lists share the following characteristics:
    * Both are mutable.
    * Both are dynamic. They can grow and shrink as needed.
    * Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.

4. Dictionary Methods
    * Get all keys from a dictionary - keys
    * Get all values from a dictionary - values
    * To Access data from a dictionary for a key - get
    * Update a dictionary - update
    * Deleting data from the dictionary
    * Deleting all the key values from a dictionary - clear
    
### Conditional Statements in Python (if/elif/else)
We’ll learn how to work with conditional (“if”) statements in Python. if-statements help us implement complex decision making in your programs.

1. "if", "else" and "elif" Clauses
2. One-Line "if" Statements
3. Conditional Expressions
4. The "pass" Statement

In [2]:
name = "Naveen"

In [3]:
list1 = [1,2,3]

In [4]:
list1

[1, 2, 3]

In [5]:
list1.append(4)

In [6]:
list2 = [4,5,6]

In [7]:
list1.extend(list2)

In [8]:
list1

[1, 2, 3, 4, 4, 5, 6]

In [9]:
dict_1 = {"name": "Naveen", "city": "Delhi"}

In [10]:
type(dict_1)

dict

In [11]:
dir(dict_1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [12]:
dict_1.get("name")

'Naveen'

In [13]:
print(dict_1)

{'name': 'Naveen', 'city': 'Delhi'}

In [14]:
dict_1.update({"city": "Noida"})

In [15]:
print(dict_1)

{'name': 'Naveen', 'city': 'Noida'}

In [16]:
del dict_1['name']

In [17]:
print(dict_1)

{'city': 'Noida'}

In [18]:
todo_list = [
    "complete python study", 
    "complete python test",
    "get the certificate"
]

In [19]:
todo_list = [
    {"task": "complete python study", "deadline": "2022-10-10"},
    {"task":"complete python test", "deadline": "2022-10-10"},
    {"task":"get the certificate", "deadline": "2022-10-10"}
]

In [20]:
print(todo_list)

[{'task': 'complete python study', 'deadline': '2022-10-10'}, {'task': 'complete python test', 'deadline': '2022-10-10'}, {'task': 'get the certificate', 'deadline': '2022-10-10'}]

In [21]:
user = {
    "name": "Naveen",
    "courses": ["python", "javascript"]
}

In [22]:
print(user)

{'name': 'Naveen', 'courses': ['python', 'javascript']}

In [23]:
user.keys()

dict_keys(['name', 'courses'])

In [24]:
user.values()

dict_values(['Naveen', ['python', 'javascript']])

In [25]:
def hello():
    """
    this function will print hello world
    """
    return "hello world"


function_list = [hello]

In [26]:
function_list

In [27]:
func_dict = {
    "function_name": "hello world",
    "function": hello
}

In [28]:
num1 = 10
num2 = 20

In [29]:
if num1 == num2:
    print("Same")
    print("something else")
else:
    print("Not same")

Not same

In [30]:
res = "Same" if num1 == num2 else "Not same"

In [31]:
print(res)

Not same

In [32]:
result = num1 >= num2

In [33]:
name = "naveen"

**Q: Create a variable name assign your name to that variable**
</br>
**Check what is the type of the variable and what are the public method available on that variable**
</br>
**Practice all the methods and write a brief summary on each of them in your words**

In [2]:
name = "Kajal Rituraj"

In [35]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
# To make the string in LowerCase

name.casefold()

'kajal rituraj'

In [5]:
#Returns an encoded version of the string
stre=name.encode()
print(stre)

b'Kajal Rituraj'

In [9]:
# Checks if string endswith/startswith the specified character.
name.endswith("v")
name.startswith("K")

True

In [12]:
# All tabs are replaced with whitespaces
n = "hello\tits\tme\tsyd"
print(n.expandtabs(7))

hello  its    me     syd

In [13]:
#Checks the position of specific letter
name.find("l")

4

In [16]:
"""
To make the 1st char of the string in Upper case
"""
name.capitalize()

'Kajal rituraj'

In [15]:
name.isalpha()

False

In [19]:
student= 13
row = "There are {} student in each row."
print(row.format(student))

there are 13 student in each row.

In [20]:
print(name.isdigit())
print("867".isdigit())

False
True

In [21]:
print(name.islower())
print("hello".islower())

False
True

**Q: Create a list "todo_list" and add some todo items in the list**
</br>
**Check what is the type of the variable and what are the public method available on that variable**
</br>
**Practice all the methods and write a brief summary on each of them in your words**

In [23]:
Todo_List=["Complete the Exercise",
            "Make MCQ's",
           "Complete the every Module",
           "Complete the Test",
           "Revise The task"]
print(Todo_List)

['Complete the Exercise', "Make MCQ's", 'Complete the every Module', 'Complete the Test', 'Revise The task']

In [24]:
#Accessing the list item by indexing
print(Todo_List[3])

Complete the Test

In [25]:
#Change the value of a list item
Todo_List[1]="complete python assignment"
print(Todo_List)

['Complete the Exercise', 'complete python assignment', 'Complete the every Module', 'Complete the Test', 'Revise The task']

In [27]:
#to add the item in list Append function is used
Todo_List.append("Complete Test of my sql")
print(Todo_List)

['Complete the Exercise', 'complete python assignment', 'Complete the every Module', 'Complete the Test', 'Revise The task', 'Complete Test of my sql', 'Complete Test of my sql']

In [30]:
#To insert the item in specific place 
Todo_List.insert(2,"Get the certificate")
print(Todo_List)

['Complete Test of my sql', 'Complete Test of my sql', 'Get the certificate', 'Complete the Exercise', 'Complete the Test', 'Complete the every Module', 'Revise The task', 'complete python assignment']

In [28]:
for x in Todo_List:
    print(Todo_List)

['Complete the Exercise', 'complete python assignment', 'Complete the every Module', 'Complete the Test', 'Revise The task', 'Complete Test of my sql', 'Complete Test of my sql']
['Complete the Exercise', 'complete python assignment', 'Complete the every Module', 'Complete the Test', 'Revise The task', 'Complete Test of my sql', 'Complete Test of my sql']
['Complete the Exercise', 'complete python assignment', 'Complete the every Module', 'Complete the Test', 'Revise The task', 'Complete Test of my sql', 'Complete Test of my sql']
['Complete the Exercise', 'complete python assignment', 'Complete the every Module', 'Complete the Test', 'Revise The task', 'Complete Test of my sql', 'Complete Test of my sql']
['Complete the Exercise', 'complete python assignment', 'Complete the every Module', 'Complete the Test', 'Revise The task', 'Complete Test of my sql', 'Complete Test of my sql']
['Complete the Exercise', 'complete python assignment', 'Complete the every Module', 'Complete the Test', 'Revise The task', 'Complete Test of my sql', 'Complete Test of my sql']
['Complete the Exercise', 'complete python assignment', 'Complete the every Module', 'Complete the Test', 'Revise The task', 'Complete Test of my sql', 'Complete Test of my sql']

In [31]:
#to remove 
Todo_List.remove("Revise The task")
print(Todo_List)

['Complete Test of my sql', 'Complete Test of my sql', 'Get the certificate', 'Complete the Exercise', 'Complete the Test', 'Complete the every Module', 'complete python assignment']

In [29]:
# The Sort() function use to sort the list alphabetically
Todo_List.sort()
print(Todo_List)

['Complete Test of my sql', 'Complete Test of my sql', 'Complete the Exercise', 'Complete the Test', 'Complete the every Module', 'Revise The task', 'complete python assignment']

In [32]:
Todo_List.pop(4)
print(Todo_List)

['Complete Test of my sql', 'Complete Test of my sql', 'Get the certificate', 'Complete the Exercise', 'Complete the every Module', 'complete python assignment']

**Q: Create a dictionary "user" and add name, city key value pair in the dictionary**
</br>
**Check what is the type of the variable  user and what are the public method available on that variable**
</br>
**Practice all the methods and write a brief summary on each of them in your words**

In [56]:
dict_1={
    "name":"kajal",
    "City":"koderma",
    "meet":"dhanbad",
    "dob":"6/09/3099",
    "age":89,
    "ishuman":False,
}
print(dict_1)

{'name': 'kajal', 'City': 'koderma', 'meet': 'dhanbad', 'dob': '6/09/3099', 'age': 89, 'ishuman': False}

In [55]:
#Returns a copy of the dictionary
dict_1.copy()
print(dict_1)

{'name': 'kajal', 'City': 'koderma', 'meet': 'dhanbad', 'dob': '6/09/3099', 'age': 89, 'ishuman': False}

In [58]:
#  Access the items of a dictionary by referring to its key name, inside square brackets
n=dict_1["dob"]
print(n)

6/09/3099

In [59]:
#
dict_1.pop("meet")
print(dict_1)

{'name': 'kajal', 'City': 'koderma', 'dob': '6/09/3099', 'age': 89, 'ishuman': False}

In [60]:
#Print all key names in the dictionary, one by one:
for x in dict_1:
    print(x)

name
City
dob
age
ishuman

In [62]:
#NESTED DICTIONARY
EmployeeDetail = {
  "Emp1" : {
    "name" : "kajal",
    "dob" : 2007
  },
  "Emp2" : {
    "name" : "Reet",
    "dob" : 2011
  }
}
print(EmployeeDetail)

{'Emp1': {'name': 'kajal', 'dob': 2007}, 'Emp2': {'name': 'Reet', 'dob': 2011}}

In [40]:
#Removes all the elements from the dictionary
dict_1.clear()
print(dict_1)

{}

In [50]:
# creates a new dictionary using the provided key and value the dictionary
key = ('key1', 'key2', 'key3')
value = [2]
dict_1 = dict.fromkeys(key, value)
print(dict_1)

{'key1': [2], 'key2': [2], 'key3': [2]}